page-receipt-detail-input {
  .toolbar-background-md,.toolbar-background-ios{
    background: linear-gradient(to right, #347eff, #1ea3ff);
  }
  .toolbar-title-ios,.toolbar-title-md{
    color: white;
  }
  .button-inner{
    color: white;
  }

  ion-label[fixed] {
    min-width: 140px !important;
  }
  .select {
    text-decoration:underline;
    cursor: pointer;
  }

  .card-header-md + .card-content-md, .card-md .item + .card-content-md {
    padding-right: 0px;
  }

  .card-md .item-md.item-block .item-inner {
    padding-right: 0px;
  }
}
