page-list-detail {
  .header .col {
    background-color:lightgrey;
    width: 2rem;
  }

  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 2rem;
  }

  .col:last-child {
    border-right: solid 1px grey;
  }

  .row:last-child .col {
    border-bottom: solid 1px grey;
  }
}
