page-list {
  .list-main-title{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .list-main-content{
    margin-top: 10px;
    font-size: 1.4rem;
    opacity: 0.7;
    label{
      padding-right: 20px;
    }
  }
  .toolbar-background-md,.toolbar-background-ios{
    background: linear-gradient(to right, #347eff, #1ea3ff);
  }
  .toolbar-title-ios,.toolbar-title-md{
    color: white;
  }
  .button-inner{
    color: white;
  }
}
