page-home {
.btn-style{
  width: 13rem;
  height: 6rem;
  margin: 1rem;
}
  .btn-style-position{
    position: absolute;
    right: 2rem;
  }
  .btn-style-postition-left{
    position: absolute;
    left: 3rem;
  }
}
