page-home {
.btn-style{
  width:40%;
  height: 10rem;
  margin: 1rem;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow:3px 3px 8px rgba(0, 0, 0, .25);
  box-shadow:3px 3px 8px rgba(0, 0, 0, .25);
  border-radius: 6px;
}
  .btn-style-position{
    position: absolute;
    right: 2rem;
  }
  .btn-style-postition-left{
    position: absolute;
    left: 3rem;
  }
  .loginout-ion{
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2.8rem;
    color: white;
  }
  .toolbar-background-md,.toolbar-background-ios{
    background: linear-gradient(to right, #347eff, #1ea3ff);
  }
  .toolbar-title-ios,.toolbar-title-md{
   color: white;
  }
  .ion-icon-position{
    position: absolute;
    margin-top: -20px;
  }
  .ion-icon-text{
    margin-top: 20px;
  }
}
