page-receipt-detail {
  .header .col {
    background-color: #32afc5;
    width: 2rem;
    color: white;
  }
  .col {
    border: solid 1px #e8e8e8;
    border-bottom-style: none;
    border-right-style: none;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
  }

  .col:last-child {
    border-right: solid 1px grey;
  }

  .row:last-child .col {
    border-bottom: solid 1px grey;
  }

  .list-md {
    margin: 0px !important;
    /* margin: -1px 0 16px; */
  }
  .text-input-md{
    text-align: center;
  }
  .toolbar-background-md,.toolbar-background-ios{
    background: linear-gradient(to right, #347eff, #1ea3ff);
  }
  .toolbar-title-ios,.toolbar-title-md{
    color: white;
  }
  .button-inner{
    color: white;
  }
  .list-detail-info{
    span{
      color: rgb(105, 103, 103);
    }
  }
  .dell{
    padding-top: 1.5rem;
    height: 6rem;
  }
}
